* {
    box-sizing: border-box; /* Prevents padding from affecting width */
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    background-color: #f0f2f5;
}

#calculator {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 500px;
    padding: 20px;
    justify-content: center;
    border: 2px solid black;
    gap: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

#heading {
    font-size: 60px;
    font-weight: 900;
}

#display {
    height: 150px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

#current, #history {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    font-size: 65px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    width: 100px;
    height: 70px;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    background-color: #e0e0e0;
    border: none;
    border-radius: 12px;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: scale(0.95);
}